@model Laboratorium.Models.ViewModels.IndexViewModel

<h2>Учётная запись</h2>
<h4>Изменить настройки Вашей учетной записи</h4>
<hr/>

<div>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <a type="button" class="text-center btn btn-default" href=@Url.Action("ChangeUserData")>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        &nbsp;Изменить данные
    </a>
    @if (Model.HasPassword)
    {
        <a type="button" class="text-center btn btn-default" href=@Url.Action("ChangePassword")>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            &nbsp;Изменить пароль
        </a>
    }
    else
    {
        <a type="button" class="text-center btn btn-default" href=@Url.Action("SetPassword")>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            &nbsp;Установить пароль
        </a>
    }
</div>
