textarea {
    width: 100%;
    height: 100% !important;
    max-width: none;
    max-height: none;
    resize: none;
    padding: 5px !important;
}

.tab-pane {
    bottom: 10px;
    top: 108px;
}

#result,
#module {
    overflow: auto;
}
