textarea {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-height: 869px;
    resize: none;
    margin-top: 10px;
}

/*#script {
    background-color: pink;
    display: flex;
    flex-direction: column;
}*/
