.dot {
    background-color: #245580 !important;
}

.item {
    text-align: center;
}

.carousel-indicators {
    margin-right: auto;
    margin-left: auto;
    width: 60px;
    position: fixed !important;
    left: calc(50% - 30px);
    bottom: 0;
}

img {
    margin-right: auto;
    margin-left: auto;
}

.carousel-control {
    font-size: 50px;
    color: #245580;
    margin-top: calc(50% - 75px);
    text-shadow: none;
    opacity: 1;
    background-image: none !important;
}

    .carousel-control:hover{
        color: #245580;
    }