/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

textarea {
    width: 100%;
    height: 100%;
    max-width: none;
    min-height: 150px;
    resize: none;
}

th {
    width: 50%;
}

#commoncontainer {
    top: 53px;
    bottom: 15px;
    display: flex;
}

#interactionForm {
    width: 100%;
}

.myrow {
    width: 50%;
}