@model List<Laboratorium.Models.ViewModels.ScriptViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            <a type="button" class="btn btn-default" href=@Url.Action("Index", "Console", new {id = item.Id})>
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
}