@model Laboratorium.Models.ViewModels.FullScriptViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
    <link rel="shortcut icon" href="../../Images/letter-l.png" />
</head>
<body>
    <div>
        <h1>@Model.Title</h1>
        <h1>@Model.Author</h1>
        <hr/>
        @foreach (var line in Model.Code)
        {
            <div>@line</div>
        }
    </div>
</body>
</html>