<h2>О проекте</h2>
<p>
    В качестве источников идей выступили две следующие системы:
</p>
<ul>
    <li>
        Wolfram|Alpha - база знаний и набор вычислительных алгоритмов, имеющая свой язык программирования;
    </li>
    <li>
        REPL.IT - облачная среда программирования REPL типа("read-eval-print loop" - цикл "чтения, вычисления, вывода"; форма организации простой интерактивной среды программирования в рамках средств интерактивной командной строки), поддерживающая множество языков.
    </li>
</ul>
<p>
    Первая из них является мощным инструментом для решения различных математических задач. Она содержит впечатляющее множество алгоритмов, математических структур и операций над ними. Но для работы с ней пользователь должен владеть специфическим именно для этой системы языком программирования и система не даёт возможности вносить в неё какие-либо изменения.
</p>
<p>
    Вторая тоже позволяет программировать прямо из браузера, но уже не на специфическом, а на любом из более тридцати общеизвестных и общеиспользуемых языков программирования. Но она не имеет никакого уклона в сторону математики.
</p>
<p>
    Поэтому было принято решение создать систему, которая бы не просто объединила достоинства названных выше систем, но имела бы перед ними преимущества.
</p>
<p>
    Функциональные языки программирования очень хорошо подходят для решения математических задач. И на это есть фундаментальная причина. Она заключается в том, что в их основе лежит лямбда-исчисление.
</p>
<p>
    В качестве языка программирования, на котором конечный пользователь решает свои задачи используется F#. Язык разработанный корпорацией Microsoft на основе языка OCaml
</p>
<p>
    "Лабораториум" является REPL-системой потому, что код пользовательской программы обрабатывает интерпретатор языка F#. Но есть небольшой нюанс: чтобы не нагружать сеть так сильно, код исполняется не построчно по мере ввода, а один раз целиком, когда пользователь изъявляет на то желание.
</p>