<h2>Литература</h2>
<ol>
    <li>
        <a href="https://www.ozon.ru/context/detail/id/6151130/" target="_blank">
            Дмитрий Сошников - Функциональное программирование на F#
        </a>
    </li>
    <li>
        <a href="https://www.amazon.com/F-Deep-Dives-Tomas-Petricek/dp/1617291323" target="_blank">
            Tomas Petricek and Phillip Trelford - F# Deep Dives
        </a>
    </li>
    <li>
        <a href="https://www.amazon.com/Expert-3-0-Experts-Voice-Syme/dp/1430246502" target="_blank">
            Syme D., Granicz A., Cisternino A. - Expert F# 3.0
        </a>
    </li>
    <li>
        <a href="http://fprog.ru/2010/issue5/maxim-moiseev-et-al-fsharp-intro/" target="_blank">
            Евгений Лазин, Максим Моисеев, Давид Сорокин - Введение в F#
        </a>
    </li>
</ol>