<h2>Контакты</h2>
<h3>
    Виноградов Кирилл
</h3>
<div >
    <span>BK:</span>
    <a href="https://vk.com/vikian050194">vk.com/vikian050194</a>
</div>
<div >
    <span>Email:</span>
    <a href="mailto:vikian050194@gmail.com">vikian050194@gmail.com</a>
</div>