<h2>Контакты</h2>
<h3>
    Место создания: математический факультет ЯрГУ им. П.Г. Демидова
</h3>
<div>
    <a href="http://www.uniyar.ac.ru">www.uniyar.ac.ru</a>
</div>
<div>
    <a href="http://math.uniyar.ac.ru">math.uniyar.ac.ru</a>
</div>
<h3>
    Разработчик: Виноградов Кирилл
</h3>
<div >
    <a href="https://vk.com/vikian050194">vk.com/vikian050194</a>
</div>
<div >
    <a href="mailto:vikian050194@gmail.com">vikian050194@gmail.com</a>
</div>