<div class="container container-fixed" style="bottom: 10px; top: 50px;">
    <h2>Примеры</h2>
    <ol>
        <li>
            <div>Именованное обозначение</div>
            <div>let n = 7</div>
            <div>let а = 1.5</div>
        </li>
        <li>
            <div>Основные арифметические операции</div>
            <div>let a = 1 + 2</div>
            <div>let b = a * 3</div>
            <div>let c = b - a</div>
            <div>let d = b / a</div>
        </li>
        <li>
            <div>Список и массив</div>
            <div>let a = [1..10]</div>
            <div>let b = [1..2..10]</div>
            <div>let c = [|1..5|]</div>
            <div>let d = [|1..2..6|]</div>
        </li>
        <li>
            <div>Операци над списками</div>
            <div>let a = [1..10]</div>
            <div>List.map (fun x -> x - 5) a</div>
            <div>List.filter (fun x -> x % 2 = 0) a</div>
            <div>List.fold (fun s x -> s + ) 0 a</div>
        </li>
    </ol>
</div>