<h2>Как использовать</h2>
<ol>
    <li>
        Перейдите в Программирование>@Html.ActionLink("Консоль", "Index", "Console")
    </li>
    <li>
        Выберете необходимые вам дополнительные алгоритмы и зависимые пакеты в соответсвующих вкладках
    </li>
    <li>
        Во вкладке "Скрипт" наберите код и исполните его, нажав на кнопку "Выполнить"
    </li>
    <li>
        Вы автоматически будете перемещены во вкладку "Результат", где будет содержаться результат успешного выполнения или описание ошибок
    </li>
    <li>
        Задать имя пакета и настоить является ли он общедоступным и переиспользуемым можно во вкладке "Настройки"
    </li>
    <li>
        Сохранить, удалить или создать новый пакет можно с помощью соответствующих кнопок
    </li>
    <li>
        Загрузить уже существующий пакет можно нажав кнопку "Загрузить" или перейдя по ссылке в главной панели навигации Программирование>@Html.ActionLink("Пакеты", "LoadPacket", "Console")
    </li>
</ol>
<h2>Ограничения</h2>
<div>
    Если Вы хотите сделать свой пакет общедоступным, то он не должен иметь ни одного не общедоступного пакета.
</div>
<div>
    На данный момент если Вы хотите сделать свой пакет переиспользуемым, то он не должен иметь ни зависимых пакетов, ни модулей.
</div>
<h2>Нюансы</h2>
<div>
    Следует иметь в виду, что зависимый пакет Вашего пакета может быть удалён владельцем по той или иной причине.
</div>
<div>
    В такой ситуации при попытке загрузить Ваш скрипт появится соответствущющее сообщение.
</div>
<div>
    Потенциально, алгоритмы тоже могут удаляться или изменяться. Это событие очень маловероятно, но всё же стоит знать о такой возможности.
</div>
<div>
    Механизмов для автосохранения пакетов в системе нет, поэтому надо не забывать своевременно делать это самостоятельно, чтобы не потерять наработки.
</div>