<h2>Как использовать</h2>
<ol>
    <li>
        Перейдите в @Html.ActionLink("\"Консоль\"", "Index", "Console")
    </li>
    <li>
        Выберете необходимые вам дополнительные модули в соответсвующей вкладке, если они необходимы
    </li>
    <li>
        Во вкладке "Скрипт" наберите код и исполните его, нажав на кнопку "Выполнить"
    </li>
    <li>
        Вы автоматически будете перемещены во вкладку "Результат", где будет содержаться описание ошибок или результат успешного выполнения
    </li>
</ol>