@model Laboratorium.Controllers.Query

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Prototype</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <input id="Question" name="Question" value="@Model.Question" />

    <div id="Answer" name="Answer">
        @Model.Answer
    </div>

    <input type="submit" value="Ask" class="btn btn-default" />
}