<div id="carousel-example-generic" class="carousel slide bottom" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="dot active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="dot"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class="dot"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" class="dot"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h2>
                Математический факультет
            </h2>
            <h2>
                Ярославский государственный университет

            </h2>
            <h2>
                имени П. Г. Демидова
            </h2>
            <img src="../../Images/letter-l.png" />
            <h1>
                Лабораториум
            </h1>
        </div>
        <div class="item">
            <h2>
                "Песочница" для языка FSharp
            </h2>
            <h2>
                с возможностью подключения
                модушей написанных на CSharp
            </h2>
        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
    </div>
    @*<a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        <a href="#carousel-example-generic" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
</div>
<div id="dot-container">
</div>

<link href="../../Content/home-index.css" rel="stylesheet">
<script type="text/javascript" src="../../Scripts/home-index.js"></script>