<div id="carousel-example-generic" class="carousel slide bottom" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <ol class="nav navbar-nav carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="dot active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class="dot"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class="dot"></li>
        </ol>
        <div class="item active">
            <h1>
                Здесь и сейчас
            </h1>
            <h2>
                Браузер - это всё, что Вам необходимо, как пользователю
            </h2>
            <h2>
                В Вашем распоряжении две консоли: базовая и расширенная
            </h2>
            <h2>
                @Html.ActionLink("Базовая", "SimpleConsoleIndex","Console") - позволяет программировать на языке FSharp
            </h2>
            <h2>
                @Html.ActionLink("Расширенная", "ComplexConsoleIndex", "Console") - даёт возможность использовать множество алгоритмов, реализованных на CSharp
            </h2>
        </div>
        <div class="item">
            <h1>
                Сила декларативного программирования
            </h1>
            <h2>
                Как именно решать задачу?
            </h2>
            <h2>
                for(var i = 0; i < n; i++) { ... }
            </h2>
        </div>
        <div class="item">
            <h1>
                Удобство императивного программирования
            </h1>
            <h1>
                Как должен выглядить ответ?
            </h1>
            <h2>
                let f1 n = [1..n] |> List.fold (fun a x -> a * x) 1
            </h2>
        </div>
    </div>
</div>
<div id="dot-container">
</div>

<link href="../../Content/home-index.css" rel="stylesheet">
<script type="text/javascript" src="../../Scripts/home-index.js"></script>