@model Laboratorium.Controllers.Query

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Вопрос</th>
                <th>Ответ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <textarea id="Question" name="Question">@Model.Question</textarea>
                </td>
                <td>
                    <div>
                        @for (var i = 0; i < Model.Answer.Count; i++)
                        {
                            <p name="Answer[@i]">@Model.Answer[i]</p>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Выполнить" class="btn btn-default" />
}