@model Laboratorium.Models.ViewModels.PacketViewModel

@using (Ajax.BeginForm("PackageForm", "Home", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "interactionForm",
    LoadingElementId = "progressbar"
}, new { id = "interactionForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div id="progressbar" class="progress" style="display: none;">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            ожидайте
        </div>
    </div>
    <div class="container navbar navbar-fixed-bottom flexbox">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px; padding-right: 7.5px;">
            <div class="panel panel-default formpanel">
                <div class="panel-heading">
                    Запрос
                    <input type="submit" value="Выполнить" class="btn btn-warning" />
                </div>
                <div class="panel-body">
                    <textarea id="Query" name="Query">@Model.Query</textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 7.5px; padding-right: 0px;">
            <div class="panel panel-default formpanel">
                <div class="panel-heading">Результат</div>
                <div class="panel-body">
                    @for (var i = 0; i < Model.Results.Count; i++)
                {
                        <div name="Results[@i]">@Model.Results[i]</div>
                    }
                </div>
            </div>
        </div>
    </div>
}